<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivan.frazichki" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddFrameAcricity"
            android:label="@string/title_activity_add_frame_acricity" >
        </activity>
        <activity
            android:name=".AddPhreseActivity"
            android:label="@string/title_activity_add_phrese" >
        </activity>
        <activity
            android:name=".ViewPhraseAcrtivity"
            android:label="@string/title_activity_view_phrase_acrtivity" >
        </activity>
        <activity
            android:name=".ChangePhraseActivity"
            android:label="@string/title_activity_change_phrase" >
        </activity>
    </application>

</manifest>
